In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as stats

import wrangle

#### 1. Acquire data from the cloud database.

You will want to end with a single dataframe. Include the logerror field and all other fields related to the properties that are available. You will end up using all the tables in the database.

Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid. - Only include properties with a transaction in 2017, and include only the last transaction for each property (so no duplicate property ID's), along with zestimate error and date of transaction. (Hint: read the docs for the .duplicated method) - Only include properties that have a latitude and longitude value.

In [2]:
zil = wrangle.acquire_zillow()

#### 2. Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [3]:
wrangle.summarize(zil)

DataFrame head:
        id  basementsqft  bathroomcnt  bedroomcnt  buildingqualitytypeid  \
0  1727539           NaN          3.5         4.0                    NaN
1  1387261           NaN          1.0         2.0                    NaN
2    11677           NaN          2.0         3.0                    NaN
3  2288172           NaN          3.0         4.0                    8.0
4   781532           NaN          3.0         4.0                    9.0

   calculatedbathnbr  decktypeid  finishedfloor1squarefeet  \
0                3.5         NaN                       NaN
1                1.0         NaN                    1465.0
2                2.0         NaN                       NaN
3                3.0         NaN                       NaN
4                3.0         NaN                       NaN

   calculatedfinishedsquarefeet  finishedsquarefeet12  ...  \
0                        3100.0                3100.0  ...
1                        1465.0                1465.0  ...
2                        1243.0                1243.0  ...
3                        2376.0                2376.0  ...
4                        2962.0                2962.0  ...

   censustractandblock  id.1  logerror  transactiondate  heatingorsystemdesc  \
0         6.059063e+13     0  0.025595       2017-01-01                  NaN
1         6.111001e+13     1  0.055619       2017-01-01                  NaN
2         6.059022e+13     2  0.005383       2017-01-01                  NaN
3         6.037300e+13     3 -0.103410       2017-01-01              Central
4         6.037461e+13     6 -0.001011       2017-01-01              Central

   architecturalstyledesc  airconditioningdesc  storydesc  \
0                     NaN                  NaN        NaN
1                     NaN                  NaN        NaN
2                     NaN                  NaN        NaN
3                     NaN                  NaN        NaN
4                     NaN              Central        NaN

   typeconstructiondesc        propertylandusedesc
0                   NaN  Single Family Residential
1                   NaN  Single Family Residential
2                   NaN  Single Family Residential
3                   NaN  Single Family Residential
4                   NaN  Single Family Residential

[5 rows x 58 columns]


DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52320 entries, 0 to 52319
Data columns (total 58 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            52320 non-null  int64
 1   basementsqft                  47 non-null     float64
 2   bathroomcnt                   52320 non-null  float64
 3   bedroomcnt                    52320 non-null  float64
 4   buildingqualitytypeid         33655 non-null  float64
 5   calculatedbathnbr             52185 non-null  float64
 6   decktypeid                    389 non-null    float64
 7   finishedfloor1squarefeet      4371 non-null   float64
 8   calculatedfinishedsquarefeet  52239 non-null  float64
 9   finishedsquarefeet12          52074 non-null  float64
 10  finishedsquarefeet50          4371 non-null   float64
 11  finishedsquarefeet6           165 non-null    float64
 12  fips                          52320 non-null  float64
 13  fireplacecnt                  7233 non-null   float64
 14  fullbathcnt                   52185 non-null  float64
 15  garagecarcnt                  17984 non-null  float64
 16  garagetotalsqft               17984 non-null  float64
 17  hashottuborspa                1514 non-null   float64
 18  latitude                      52320 non-null  float64
 19  longitude                     52320 non-null  float64
 20  lotsizesquarefeet             51954 non-null  float64
 21  poolcnt                       11077 non-null  float64
 22  poolsizesum                   865 non-null    float64
 23  pooltypeid10                  443 non-null    float64
 24  pooltypeid2                   1071 non-null   float64
 25  pooltypeid7                   9990 non-null   float64
 26  propertycountylandusecode     52320 non-null  object
 27  propertyzoningdesc            33762 non-null  object
 28  rawcensustractandblock        52320 non-null  float64
 29  regionidcity                  51284 non-null  float64
 30  regionidcounty                52320 non-null  float64
 31  regionidneighborhood          18981 non-null  float64
 32  regionidzip                   52294 non-null  float64
 33  roomcnt                       52320 non-null  float64
 34  threequarterbathnbr           6717 non-null   float64
 35  unitcnt                       33762 non-null  float64
 36  yardbuildingsqft17            1935 non-null   float64
 37  yardbuildingsqft26            63 non-null     float64
 38  yearbuilt                     52206 non-null  float64
 39  numberofstories               14532 non-null  float64
 40  fireplaceflag                 81 non-null     float64
 41  structuretaxvaluedollarcnt    52238 non-null  float64
 42  taxvaluedollarcnt             52319 non-null  float64
 43  assessmentyear                52320 non-null  float64
 44  landtaxvaluedollarcnt         52319 non-null  float64
 45  taxamount                     52316 non-null  float64
 46  taxdelinquencyflag            2068 non-null   object
 47  taxdelinquencyyear            2068 non-null   float64
 48  censustractandblock           52199 non-null  float64
 49  id.1                          52320 non-null  int64
 50  logerror                      52320 non-null  float64
 51  transactiondate               52320 non-null  object
 52  heatingorsystemdesc           33850 non-null  object
 53  architecturalstyledesc        70 non-null     object
 54  airconditioningdesc           13615 non-null  object
 55  storydesc                     47 non-null     object
 56  typeconstructiondesc          76 non-null     object
 57  propertylandusedesc           52320 non-null  object
dtypes: float64(46), int64(2), object(10)
memory usage: 23.2+ MB
None


DataFrame describe:
                                count          mean           std  \
id                            52320.0  1.496906e+06  8.594330e+05
basementsqft                     47.0  6.789787e+02  7.118252e+02
bathroomcnt                   52320.0  2.300010e+00  1.022807e+00
bedroomcnt                    52320.0  3.300765e+00  9.475551e-01
buildingqualitytypeid         33655.0  6.264894e+00  1.716346e+00
calculatedbathnbr             52185.0  2.305270e+00  1.018067e+00
decktypeid                      389.0  6.600000e+01  0.000000e+00
finishedfloor1squarefeet       4371.0  1.546288e+03  6.753393e+02
calculatedfinishedsquarefeet  52239.0  1.923153e+03  1.004045e+03
finishedsquarefeet12          52074.0  1.925314e+03  1.003953e+03
finishedsquarefeet50           4371.0  1.567099e+03  7.450848e+02
finishedsquarefeet6             165.0  1.241079e+03  7.769591e+02
fips                          52320.0  6.049136e+03  2.102913e+01
fireplacecnt                   7233.0  1.209733e+00  5.129456e-01
fullbathcnt                   52185.0  2.240031e+00  9.933029e-01
garagecarcnt                  17984.0  1.949066e+00  5.499741e-01
garagetotalsqft               17984.0  4.959270e+02  1.571009e+02
hashottuborspa                 1514.0  1.000000e+00  0.000000e+00
latitude                      52320.0  3.402256e+07  2.740624e+05
longitude                     52320.0 -1.181941e+08  3.567149e+05
lotsizesquarefeet             51954.0  1.132335e+04  8.674164e+04
poolcnt                       11077.0  1.000000e+00  0.000000e+00
poolsizesum                     865.0  5.183052e+02  1.566148e+02
pooltypeid10                    443.0  1.000000e+00  0.000000e+00
pooltypeid2                    1071.0  1.000000e+00  0.000000e+00
pooltypeid7                    9990.0  1.000000e+00  0.000000e+00
rawcensustractandblock        52320.0  6.049447e+07  2.086892e+05
regionidcity                  51284.0  3.348383e+04  4.911615e+04
regionidcounty                52320.0  2.524321e+03  8.040986e+02
regionidneighborhood          18981.0  1.802406e+05  1.599288e+05
regionidzip                   52294.0  9.663624e+04  4.610382e+03
roomcnt                       52320.0  1.894457e+00  3.146952e+00
threequarterbathnbr            6717.0  1.013697e+00  1.426896e-01
unitcnt                       33762.0  1.000859e+00  3.028996e-02
yardbuildingsqft17             1935.0  3.373597e+02  2.495793e+02
yardbuildingsqft26               63.0  2.256190e+02  1.885051e+02
yearbuilt                     52206.0  1.963421e+03  2.312567e+01
numberofstories               14532.0  1.414189e+00  5.406849e-01
fireplaceflag                    81.0  1.000000e+00  0.000000e+00
structuretaxvaluedollarcnt    52238.0  1.966362e+05  2.542862e+05
taxvaluedollarcnt             52319.0  5.298235e+05  7.518296e+05
assessmentyear                52320.0  2.016000e+03  0.000000e+00
landtaxvaluedollarcnt         52319.0  3.334917e+05  5.705106e+05
taxamount                     52316.0  6.454743e+03  8.752477e+03
taxdelinquencyyear             2068.0  1.410106e+01  2.400399e+00
censustractandblock           52199.0  6.050245e+13  1.861127e+12
id.1                          52320.0  3.890309e+04  2.234479e+04
logerror                      52320.0  1.813138e-02  1.769047e-01

                                       min           25%           50%  \
id                            3.490000e+02  7.576135e+05  1.500134e+06
basementsqft                  3.800000e+01  2.635000e+02  5.120000e+02
bathroomcnt                   0.000000e+00  2.000000e+00  2.000000e+00
bedroomcnt                    0.000000e+00  3.000000e+00  3.000000e+00
buildingqualitytypeid         1.000000e+00  5.000000e+00  6.000000e+00
calculatedbathnbr             1.000000e+00  2.000000e+00  2.000000e+00
decktypeid                    6.600000e+01  6.600000e+01  6.600000e+01
finishedfloor1squarefeet      1.840000e+02  1.151000e+03  1.410000e+03
calculatedfinishedsquarefeet  1.280000e+02  1.268000e+03  1.659000e+03
finishedsquarefeet12          1.280000e+02  1.270000e+03  1.661000e+03
finishedsquarefeet50          1.840000e+02  1.152000e+03  1.415000e+03
finishedsquarefeet6           3.800000e+02  7.840000e+02  1.008000e+03
fips                          6.037000e+03  6.037000e+03  6.037000e+03
fireplacecnt                  1.000000e+00  1.000000e+00  1.000000e+00
fullbathcnt                   1.000000e+00  2.000000e+00  2.000000e+00
garagecarcnt                  0.000000e+00  2.000000e+00  2.000000e+00
garagetotalsqft               0.000000e+00  4.260000e+02  4.620000e+02
hashottuborspa                1.000000e+00  1.000000e+00  1.000000e+00
latitude                      3.334062e+07  3.382690e+07  3.402375e+07
longitude                    -1.194754e+08 -1.184009e+08 -1.181531e+08
lotsizesquarefeet             2.360000e+02  5.583000e+03  6.841000e+03
poolcnt                       1.000000e+00  1.000000e+00  1.000000e+00
poolsizesum                   2.400000e+01  4.240000e+02  5.000000e+02
pooltypeid10                  1.000000e+00  1.000000e+00  1.000000e+00
pooltypeid2                   1.000000e+00  1.000000e+00  1.000000e+00
pooltypeid7                   1.000000e+00  1.000000e+00  1.000000e+00
rawcensustractandblock        6.037101e+07  6.037401e+07  6.037620e+07
regionidcity                  3.491000e+03  1.244700e+04  2.481200e+04
regionidcounty                1.286000e+03  1.286000e+03  3.101000e+03
regionidneighborhood          6.952000e+03  4.113100e+04  1.182080e+05
regionidzip                   9.598200e+04  9.620600e+04  9.641200e+04
roomcnt                       0.000000e+00  0.000000e+00  0.000000e+00
threequarterbathnbr           1.000000e+00  1.000000e+00  1.000000e+00
unitcnt                       1.000000e+00  1.000000e+00  1.000000e+00
yardbuildingsqft17            1.100000e+01  2.000000e+02  2.800000e+02
yardbuildingsqft26            1.200000e+01  7.150000e+01  1.800000e+02
yearbuilt                     1.878000e+03  1.950000e+03  1.961000e+03
numberofstories               1.000000e+00  1.000000e+00  1.000000e+00
fireplaceflag                 1.000000e+00  1.000000e+00  1.000000e+00
structuretaxvaluedollarcnt    1.290000e+02  7.715900e+04  1.319050e+05
taxvaluedollarcnt             1.000000e+03  1.940330e+05  3.740060e+05
assessmentyear                2.016000e+03  2.016000e+03  2.016000e+03
landtaxvaluedollarcnt         1.610000e+02  7.619400e+04  2.180790e+05
taxamount                     4.918000e+01  2.660983e+03  4.650565e+03
taxdelinquencyyear            4.000000e+00  1.400000e+01  1.500000e+01
censustractandblock           6.037101e+13  6.037401e+13  6.037620e+13
id.1                          0.000000e+00  1.961150e+04  3.898350e+04
logerror                     -4.655420e+00 -2.470687e-02  6.934429e-03

                                       75%           max
id                            2.241333e+06  2.982270e+06
basementsqft                  8.095000e+02  3.560000e+03
bathroomcnt                   3.000000e+00  1.800000e+01
bedroomcnt                    4.000000e+00  1.400000e+01
buildingqualitytypeid         8.000000e+00  1.200000e+01
calculatedbathnbr             3.000000e+00  1.800000e+01
decktypeid                    6.600000e+01  6.600000e+01
finishedfloor1squarefeet      1.760000e+03  6.912000e+03
calculatedfinishedsquarefeet  2.306000e+03  2.192900e+04
finishedsquarefeet12          2.309000e+03  2.192900e+04
finishedsquarefeet50          1.771000e+03  1.246700e+04
finishedsquarefeet6           1.320000e+03  5.598000e+03
fips                          6.059000e+03  6.111000e+03
fireplacecnt                  1.000000e+00  5.000000e+00
fullbathcnt                   3.000000e+00  1.800000e+01
garagecarcnt                  2.000000e+00  1.400000e+01
garagetotalsqft               5.670000e+02  4.251000e+03
hashottuborspa                1.000000e+00  1.000000e+00
latitude                      3.418725e+07  3.481877e+07
longitude                    -1.179290e+08 -1.175546e+08
lotsizesquarefeet             8.799000e+03  6.971010e+06
poolcnt                       1.000000e+00  1.000000e+00
poolsizesum                   6.000000e+02  1.500000e+03
pooltypeid10                  1.000000e+00  1.000000e+00
pooltypeid2                   1.000000e+00  1.000000e+00
pooltypeid7                   1.000000e+00  1.000000e+00
rawcensustractandblock        6.059042e+07  6.111009e+07
regionidcity                  4.022700e+04  3.965560e+05
regionidcounty                3.101000e+03  3.101000e+03
regionidneighborhood          2.745140e+05  7.641670e+05
regionidzip                   9.699500e+04  3.996750e+05
roomcnt                       5.000000e+00  1.500000e+01
threequarterbathnbr           1.000000e+00  7.000000e+00
unitcnt                       1.000000e+00  3.000000e+00
yardbuildingsqft17            4.000000e+02  3.191000e+03
yardbuildingsqft26            3.170000e+02  8.680000e+02
yearbuilt                     1.979000e+03  2.016000e+03
numberofstories               2.000000e+00  6.000000e+00
fireplaceflag                 1.000000e+00  1.000000e+00
structuretaxvaluedollarcnt    2.264532e+05  9.164901e+06
taxvaluedollarcnt             6.193540e+05  4.906124e+07
assessmentyear                2.016000e+03  2.016000e+03
landtaxvaluedollarcnt         4.087770e+05  4.895220e+07
taxamount                     7.379270e+03  5.866393e+05
taxdelinquencyyear            1.500000e+01  9.900000e+01
censustractandblock           6.059042e+13  4.830301e+14
id.1                          5.814025e+04  7.761200e+04
logerror                      4.059704e-02  5.262999e+00


DataFrame nulls by col:                                num_rows_missing  perc_rows_missing
id                                           0           0.000000
basementsqft                             52273          99.910168
bathroomcnt                                  0           0.000000
bedroomcnt                                   0           0.000000
buildingqualitytypeid                    18665          35.674694
calculatedbathnbr                          135           0.258028
decktypeid                               51931          99.256498
finishedfloor1squarefeet                 47949          91.645642
calculatedfinishedsquarefeet                81           0.154817
finishedsquarefeet12                       246           0.470183
finishedsquarefeet50                     47949          91.645642
finishedsquarefeet6                      52155          99.684633
fips                                         0           0.000000
fireplacecnt                             45087          86.175459
fullbathcnt                                135           0.258028
garagecarcnt                             34336          65.626911
garagetotalsqft                          34336          65.626911
hashottuborspa                           50806          97.106269
latitude                                     0           0.000000
longitude                                    0           0.000000
lotsizesquarefeet                          366           0.699541
poolcnt                                  41243          78.828364
poolsizesum                              51455          98.346713
pooltypeid10                             51877          99.153287
pooltypeid2                              51249          97.952982
pooltypeid7                              42330          80.905963
propertycountylandusecode                    0           0.000000
propertyzoningdesc                       18558          35.470183
rawcensustractandblock                       0           0.000000
regionidcity                              1036           1.980122
regionidcounty                               0           0.000000
regionidneighborhood                     33339          63.721330
regionidzip                                 26           0.049694
roomcnt                                      0           0.000000
threequarterbathnbr                      45603          87.161697
unitcnt                                  18558          35.470183
yardbuildingsqft17                       50385          96.301606
yardbuildingsqft26                       52257          99.879587
yearbuilt                                  114           0.217890
numberofstories                          37788          72.224771
fireplaceflag                            52239          99.845183
structuretaxvaluedollarcnt                  82           0.156728
taxvaluedollarcnt                            1           0.001911
assessmentyear                               0           0.000000
landtaxvaluedollarcnt                        1           0.001911
taxamount                                    4           0.007645
taxdelinquencyflag                       50252          96.047401
taxdelinquencyyear                       50252          96.047401
censustractandblock                        121           0.231269
id.1                                         0           0.000000
logerror                                     0           0.000000
transactiondate                              0           0.000000
heatingorsystemdesc                      18470          35.301988
architecturalstyledesc                   52250          99.866208
airconditioningdesc                      38705          73.977446
storydesc                                52273          99.910168
typeconstructiondesc                     52244          99.854740
propertylandusedesc                          0           0.000000


DataFrame nulls by row:      num_cols_missing  perc_cols_missing  count
0                 16          27.586207      2
1                 17          29.310345     10
2                 18          31.034483     83
3                 19          32.758621    261
4                 20          34.482759    480
5                 21          36.206897    534
6                 22          37.931034   2909
7                 23          39.655172   5920
8                 24          41.379310   7930

In [4]:
nums = [col for col in zil.columns if zil[col].dtype != 'O']
cats = [col for col in zil.columns if col not in nums]

In [5]:
# for col in nums:
#     sns.histplot(data=zil, x=col)
#     plt.title(col+' dist')
#     plt.show()

#### 3. Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. Run the function and document takeaways from this on how you want to handle missing values.

In [6]:
wrangle.nulls_by_col(zil)

                              num_rows_missing  perc_rows_missing
id                                           0           0.000000
basementsqft                             52273          99.910168
bathroomcnt                                  0           0.000000
bedroomcnt                                   0           0.000000
buildingqualitytypeid                    18665          35.674694
calculatedbathnbr                          135           0.258028
decktypeid                               51931          99.256498
finishedfloor1squarefeet                 47949          91.645642
calculatedfinishedsquarefeet                81           0.154817
finishedsquarefeet12                       246           0.470183
finishedsquarefeet50                     47949          91.645642
finishedsquarefeet6                      52155          99.684633
fips                                         0           0.000000
fireplacecnt                             45087          86.175459
fullbathcnt                                135           0.258028
garagecarcnt                             34336          65.626911
garagetotalsqft                          34336          65.626911
hashottuborspa                           50806          97.106269
latitude                                     0           0.000000
longitude                                    0           0.000000
lotsizesquarefeet                          366           0.699541
poolcnt                                  41243          78.828364
poolsizesum                              51455          98.346713
pooltypeid10                             51877          99.153287
pooltypeid2                              51249          97.952982
pooltypeid7                              42330          80.905963
propertycountylandusecode                    0           0.000000
propertyzoningdesc                       18558          35.470183
rawcensustractandblock                       0           0.000000
regionidcity                              1036           1.980122
regionidcounty                               0           0.000000
regionidneighborhood                     33339          63.721330
regionidzip                                 26           0.049694
roomcnt                                      0           0.000000
threequarterbathnbr                      45603          87.161697
unitcnt                                  18558          35.470183
yardbuildingsqft17                       50385          96.301606
yardbuildingsqft26                       52257          99.879587
yearbuilt                                  114           0.217890
numberofstories                          37788          72.224771
fireplaceflag                            52239          99.845183
structuretaxvaluedollarcnt                  82           0.156728
taxvaluedollarcnt                            1           0.001911
assessmentyear                               0           0.000000
landtaxvaluedollarcnt                        1           0.001911
taxamount                                    4           0.007645
taxdelinquencyflag                       50252          96.047401
taxdelinquencyyear                       50252          96.047401
censustractandblock                        121           0.231269
id.1                                         0           0.000000
logerror                                     0           0.000000
transactiondate                              0           0.000000
heatingorsystemdesc                      18470          35.301988
architecturalstyledesc                   52250          99.866208
airconditioningdesc                      38705          73.977446
storydesc                                52273          99.910168
typeconstructiondesc                     52244          99.854740
propertylandusedesc                          0           0.000000

#### after handeling nulls with the handle_missing_values fx, I would do the following:
- drop buildingqualitytypeid --> don't need a foreign key
- see if there is a mathmatical fx to get to calculated bathnbr, finishedsquarefeet12, fullbathcnt, lotsizesquarefeet, yearbuilt, structuretaxvaluedollarcnt
- use the mean for like home with bath, bed to get calculated finished square feet
- use other homes to determine propertyzoningdesc, regionidcity, regionidzip, heatingorsystemdesc
- look at zoning or type to get unitcnt
- drop the remaining rows with missing values

## PREPARE

#### 1. Remove any properties that are likely to be something other than single unit properties. (e.g. no duplexes, no land/lot, ...). There are multiple ways to estimate that a property is a single unit, and there is not a single "right" answer.

In [7]:
# zil = zil[(zil.unitcnt < 2) | (zil.unitcnt.isnull())]

In [8]:
# zil.unitcnt.value_counts(dropna=False)

In [9]:
# zil = zil[(zil.numberofstories < 3) |(zil.numberofstories.isnull())]

In [10]:
# zil.numberofstories.value_counts(dropna=False)

In [11]:
# zil.basementsqft = zil.basementsqft.fillna(0)

In [12]:
# zil.calculatedbathnbr = zil.calculatedbathnbr.fillna(0)

In [13]:
# zil.typeconstructiondesc = zil.typeconstructiondesc.fillna('None')
# zil.fireplaceflag = zil.fireplaceflag.fillna(0)
# zil.threequarterbathnbr = zil.threequarterbathnbr.fillna(0)
# zil.taxdelinquencyyear = zil.taxdelinquencyyear.fillna(99999)
# zil.taxdelinquencyflag = zil.taxdelinquencyflag.fillna('N')
# zil.calculatedbathnbr = zil.calculatedbathnbr.fillna(0)
# zil.basementsqft = zil.basementsqft.fillna(0)

In [14]:
# zil.taxdelinquencyflag = zil.taxdelinquencyflag.fillna('N')

In [15]:
# zil.taxdelinquencyyear = zil.taxdelinquencyyear.fillna(99999)

In [16]:
# zil.threequarterbathnbr = zil.threequarterbathnbr.fillna(0)

In [17]:
# zil.fireplaceflag = zil.fireplaceflag.fillna(0)

In [18]:
# zil.pooltypeid2 = zil.pooltypeid2.fillna(0)
# zil.pooltypeid10 = zil.pooltypeid10.fillna(0)
# zil.pooltypeid7 = zil.pooltypeid7.fillna(0)

In [19]:
# zil.hashottuborspa = zil.hashottuborspa.fillna(0)

In [20]:
# zil.poolcnt = zil.poolcnt.fillna(0)

In [21]:
# zil.decktypeid = zil.decktypeid.fillna(0)

In [22]:
# zil.fireplacecnt = zil.fireplacecnt.fillna(0)

In [23]:
# zil.fullbathcnt = zil.fullbathcnt.fillna(0)

#### 2. Create a function that will drop rows or columns based on the percent of values that are missing: handle_missing_values(df, prop_required_column, prop_required_row).

- The input:
    - A dataframe
    - A number between 0 and 1 that represents the proportion, for each column, of rows with non-missing values required to keep the column. i.e. if prop_required_column = .6, then you are requiring a column to have at least 60% of values not-NA (no more than 40% missing).
    - A number between 0 and 1 that represents the proportion, for each row, of columns/variables with non-missing values required to keep the row. For example, if prop_required_row = .75, then you are requiring a row to have at least 75% of variables with a non-missing value (no more that 25% missing).
- The output:
    - The dataframe with the columns and rows dropped as indicated. Be sure to drop the columns prior to the rows in your function.
- hint:
    - Look up the dropna documentation.
    - You will want to compute a threshold from your input values (prop_required) and total number of rows or columns.

In [24]:
# zil = wrangle.handle_missing_values(zil, prop_req_cols=.6, prop_req_rows=.75)
# zil.head()

In [25]:
# zil = zil.drop(columns=['buildingqualitytypeid','propertyzoningdesc','unitcnt','heatingorsystemdesc'])

In [26]:
# zil = zil.dropna()

In [27]:
zil.isnull().sum()

id                                  0
basementsqft                    52273
bathroomcnt                         0
bedroomcnt                          0
buildingqualitytypeid           18665
calculatedbathnbr                 135
decktypeid                      51931
finishedfloor1squarefeet        47949
calculatedfinishedsquarefeet       81
finishedsquarefeet12              246
finishedsquarefeet50            47949
finishedsquarefeet6             52155
fips                                0
fireplacecnt                    45087
fullbathcnt                       135
garagecarcnt                    34336
garagetotalsqft                 34336
hashottuborspa                  50806
latitude                            0
longitude                           0
lotsizesquarefeet                 366
poolcnt                         41243
poolsizesum                     51455
pooltypeid10                    51877
pooltypeid2                     51249
pooltypeid7                     42330
propertycountylandusecode           0
propertyzoningdesc              18558
rawcensustractandblock              0
regionidcity                     1036
regionidcounty                      0
regionidneighborhood            33339
regionidzip                        26
roomcnt                             0
threequarterbathnbr             45603
unitcnt                         18558
yardbuildingsqft17              50385
yardbuildingsqft26              52257
yearbuilt                         114
numberofstories                 37788
fireplaceflag                   52239
structuretaxvaluedollarcnt         82
taxvaluedollarcnt                   1
assessmentyear                      0
landtaxvaluedollarcnt               1
taxamount                           4
taxdelinquencyflag              50252
taxdelinquencyyear              50252
censustractandblock               121
id.1                                0
logerror                            0
transactiondate                     0
heatingorsystemdesc             18470
architecturalstyledesc          52250
airconditioningdesc             38705
storydesc                       52273
typeconstructiondesc            52244
propertylandusedesc                 0
dtype: int64

In [28]:
zil.shape

(52320, 58)

#### 3. Encapsulate your work inside of functions in a wrangle_zillow.py module.

In [29]:
# Done!

In [30]:
# def prepare_zillow(df):
#     df = df.drop(columns=['buildingqualitytypeid','propertyzoningdesc','unitcnt','heatingorsystemdesc','id','id.1'])
#     df.fullbathcnt = df.fullbathcnt.fillna(0)
#     df.pooltypeid2 = df.pooltypeid2.fillna(0)
#     df.pooltypeid10 = df.pooltypeid10.fillna(0)
#     df.pooltypeid7 = df.pooltypeid7.fillna(0)
#     df.fireplacecnt = df.fireplacecnt.fillna(0)
#     df.decktypeid = df.decktypeid.fillna(0)
#     df.poolcnt = df.poolcnt.fillna(0)
#     df.hashottuborspa = df.hashottuborspa.fillna(0)
#     df.typeconstructiondesc = df.typeconstructiondesc.fillna('None')
#     df.fireplaceflag = df.fireplaceflag.fillna(0)
#     df.threequarterbathnbr = df.threequarterbathnbr.fillna(0)
#     df.taxdelinquencyyear = df.taxdelinquencyyear.fillna(99999)
#     df.taxdelinquencyflag = df.taxdelinquencyflag.fillna('N')
#     df.calculatedbathnbr = df.calculatedbathnbr.fillna(0)
#     df.basementsqft = df.basementsqft.fillna(0)
#     df.numberofstories.value_counts(dropna=False)
#     wrangle.handle_missing_values(df, prop_req_cols=.6, prop_req_rows=.75)
#     df = df.dropna()
    
#     return df

In [31]:
zil2 = wrangle.prepare_zillow(zil)

In [32]:
zil2.shape

(50596, 39)

In [33]:
zil2.head()

,basementsqft,bathroomcnt,bedroomcnt,calculatedbathnbr,decktypeid,calculatedfinishedsquarefeet,finishedsquarefeet12,fips,fireplacecnt,fullbathcnt,...,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,logerror,transactiondate,typeconstructiondesc,propertylandusedesc
0,0.0,3.5,4.0,3.5,0.0,3100.0,3100.0,6059.0,0.0,3.0,...,2016.0,537569.0,11013.72,N,99999.0,6.059063e+13,0.025595,2017-01-01,None,Single Family Residential
1,0.0,1.0,2.0,1.0,0.0,1465.0,1465.0,6111.0,1.0,1.0,...,2016.0,376000.0,5672.48,N,99999.0,6.111001e+13,0.055619,2017-01-01,None,Single Family Residential
2,0.0,2.0,3.0,2.0,0.0,1243.0,1243.0,6059.0,0.0,2.0,...,2016.0,479489.0,6488.30,N,99999.0,6.059022e+13,0.005383,2017-01-01,None,Single Family Residential
3,0.0,3.0,4.0,3.0,0.0,2376.0,2376.0,6037.0,0.0,3.0,...,2016.0,36225.0,1777.51,N,99999.0,6.037300e+13,-0.103410,2017-01-01,None,Single Family Residential
4,0.0,3.0,4.0,3.0,0.0,2962.0,2962.0,6037.0,0.0,3.0,...,2016.0,496619.0,9516.26,N,99999.0,6.037461e+13,-0.001011,2017-01-01,None,Single Family Residential

In [34]:
zil2.isnull().sum()

basementsqft                    0
bathroomcnt                     0
bedroomcnt                      0
calculatedbathnbr               0
decktypeid                      0
calculatedfinishedsquarefeet    0
finishedsquarefeet12            0
fips                            0
fireplacecnt                    0
fullbathcnt                     0
hashottuborspa                  0
latitude                        0
longitude                       0
lotsizesquarefeet               0
poolcnt                         0
pooltypeid10                    0
pooltypeid2                     0
pooltypeid7                     0
propertycountylandusecode       0
rawcensustractandblock          0
regionidcity                    0
regionidcounty                  0
regionidzip                     0
roomcnt                         0
threequarterbathnbr             0
yearbuilt                       0
fireplaceflag                   0
structuretaxvaluedollarcnt      0
taxvaluedollarcnt               0
assessmentyear                  0
landtaxvaluedollarcnt           0
taxamount                       0
taxdelinquencyflag              0
taxdelinquencyyear              0
censustractandblock             0
logerror                        0
transactiondate                 0
typeconstructiondesc            0
propertylandusedesc             0
dtype: int64

## MALL CUSTOMERS

In [2]:
import wrangle_mall

#### 1. Acquire data from the customers table in the mall_customers database.

In [7]:
df = wrangle_mall.get_mallcustomer_data()

#### 2. Summarize the data (include distributions and descriptive statistics).

In [8]:
wrangle_mall.summarize(df)

DataFrame head:
             gender  age  annual_income  spending_score
customer_id
1              Male   19             15              39
2              Male   21             15              81
3            Female   20             16               6
4            Female   23             16              77
5            Female   31             17              40


DataFrame info:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 1 to 200
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gender          200 non-null    object
 1   age             200 non-null    int64
 2   annual_income   200 non-null    int64
 3   spending_score  200 non-null    int64
dtypes: int64(3), object(1)
memory usage: 7.8+ KB
None


DataFrame describe:
                count   mean        std   min    25%   50%   75%    max
age             200.0  38.85  13.969007  18.0  28.75  36.0  49.0   70.0
annual_income   200.0  60.56  26.264721  15.0  41.50  61.5  78.0  137.0
spending_score  200.0  50.20  25.823522   1.0  34.75  50.0  73.0   99.0


DataFrame nulls by col:                  num_rows_missing  perc_rows_missing
gender                         0                0.0
age                            0                0.0
annual_income                  0                0.0
spending_score                 0                0.0


DataFrame nulls by row:     num_cols_missing  perc_cols_missing  count
0                 0                0.0    200


Value Counts:
Column Name: gender
Female    112
Male       88
Name: gender, dtype: int64

Column Name: age
(17.947, 23.2]    31
(23.2, 28.4]      19
(28.4, 33.6]      34
(33.6, 38.8]      29
(38.8, 44.0]      18
(44.0, 49.2]      24
(49.2, 54.4]      15
(54.4, 59.6]      10
(59.6, 64.8]       6
(64.8, 70.0]      14
Name: age, dtype: int64

Column Name: annual_income
(14.877, 27.2]    24
(27.2, 39.4]      22
(39.4, 51.6]      28
(51.6, 63.8]      38
(63.8, 76.0]      32
(76.0, 88.2]      34
(88.2, 100.4]      8
(100.4, 112.6]     6
(112.6, 124.8]     4
(124.8, 137.0]     4
Name: annual_income, dtype: int64

Column Name: spending_score
(0.901, 10.8]    16
(10.8, 20.6]     20
(20.6, 30.4]     10
(30.4, 40.2]     17
(40.2, 50.0]     40
(50.0, 59.8]     32
(59.8, 69.6]     11
(69.6, 79.4]     24
(79.4, 89.2]     14
(89.2, 99.0]     16
Name: spending_score, dtype: int64




Report Finished

#### 3. Detect outliers using IQR.

In [10]:
nums = [col for col in df.columns if df[col].dtype != 'O']
cats = [col for col in df.columns if col not in nums]

for col in nums:
    q1,q3 = df[col].quantile([.25,.75])
    iqr = q3-q1
    upper = q3 + 1.5*iqr
    lower = q1 - 1.5*iqr

    df = df[(df[col] > lower) & (df[col] < upper)]

In [13]:
df.shape

(198, 4)

#### 4. Split data into train, validate, and test.

In [15]:
from sklearn.model_selection import train_test_split

In [25]:
train, test = train_test_split(df, test_size = .2, random_state=123)
train, val = train_test_split(train, test_size = .25, random_state=123)

In [27]:
train.shape, val.shape, test.shape

((118, 4), (40, 4), (40, 4))

#### 5. Encode categorical columns using a one hot encoder (pd.get_dummies).

In [20]:
# Map works just as well in this instance

In [19]:
df.gender = df.gender.map({'Female': 0, 'Male': 1})

#### 6. Handles missing values.

In [12]:
df.isnull().sum()

gender            0
age               0
annual_income     0
spending_score    0
dtype: int64

In [21]:
# there are none

#### 7. Scaling

In [22]:
from sklearn.preprocessing import MinMaxScaler

In [28]:
cols_to_scale = df.columns.tolist()

# create copies to not mess with the original dataframes
train_scaled = train.copy()
val_scaled = val.copy()
test_scaled = test.copy()

# create the scaler and fit it
scaler = MinMaxScaler()
scaler.fit(train[cols_to_scale])

# use the scaler to scale the data and resave
train_scaled[cols_to_scale] = pd.DataFrame(scaler.transform(train[cols_to_scale]),
                                           columns = train[cols_to_scale].columns.values).set_index([train.index.values])
val_scaled[cols_to_scale] = pd.DataFrame(scaler.transform(val[cols_to_scale]),
                                           columns = val[cols_to_scale].columns.values).set_index([val.index.values])
test_scaled[cols_to_scale] = pd.DataFrame(scaler.transform(test[cols_to_scale]),
                                           columns = test[cols_to_scale].columns.values).set_index([test.index.values])

In [29]:
train_scaled.head()

             gender       age  annual_income  spending_score
customer_id
182             0.0  0.269231       0.738739        0.867347
49              0.0  0.211538       0.225225        0.418367
35              0.0  0.596154       0.162162        0.132653
186             1.0  0.230769       0.756757        0.979592
114             1.0  0.019231       0.441441        0.459184

#### 8. Encapsulate your work in a wrangle_mall.py python module.

In [37]:
# Done